* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://cdn.wallpapersafari.com/93/89/Q0m6XH.jpg");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  table {
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  h1 {
    color: white;
  }
  
  th,
  tr,
  td {
    border: solid 1px white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  button {
    background-color: #ebb104;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    margin: 5px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #000;
    color: #ebb104;
  }
  
  input {
    border: none;
    height: 30px;
    border-radius: 10px;
  }
  
  table img {
    max-width: 50px;
  }
  